/* This is the entrypoint for Tailwind's CLI build.
   Add any custom CSS after the `@tailwind` directives if needed. */
@tailwind base;
@tailwind components;
@tailwind utilities;

@theme {
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1280px;
  --breakpoint-2xl: 1536px;
}
